.articlesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns layout */
    gap: 3rem;
  }
  
  .articlesBlock {
    background-color: #f7c846; /* Light background */
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid #545454;

  
  }
  
  .articlesHeader {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #131313;
    text-align: center;
  }
  
  .articlesItems {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  
  .articleItem {
    background-color: #F4EEE0;
    border-radius: 5px;
    padding: 0rem 2rem;
    border: 1px solid #545454;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 250px;
    cursor: pointer;
  }
  
  .articleItem:hover {
    background-color: rgb(201, 196, 185);
    border: 1px solid rgba(22, 22, 22, 0.1);
    box-shadow: 0 2px 5px rgba(22, 22, 22, 0.1);
  }

  .articlesContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .articleTitle {
    font-size: 1.4rem;
    font-weight: bold;
    color: #090a0b;
    margin-bottom: 5px;
  }
  
  .articleDescription {
    font-size: 1rem;
    color: #141618;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .articlesGrid {
      grid-template-columns: 1fr; /* Single column layout on smaller screens */
    }
  }
  