.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #F4EEE0;
    color: #000;
  }
  
  .topbar__logo h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .topbar__user {
    display: flex;
    align-items: center;
  }
  
  .topbar__search-container {
    position: relative;
    width: 300px;
  }
  
  .topbar__search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
  }
  
  .topbar__search {
    width: 100%;
    padding: .5rem 2.2rem; /* Adding padding to the left to make space for the icon */
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    
  }
  .topbar__clear-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    background-color: #3e3e3e;
    border-radius: 50%;
    padding: .2rem .2rem;
  }


  .topbar__search::placeholder {
    color: #888;
    font-size: 16px;
  }
  
  .topbar__search:focus {
    outline: none;
    border-color: #888;
  }