.topbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  background-color: #171717;
  color: #fff;
  border-bottom:1px solid #444444;
}

.topbar__logo h1 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

.topbar__user {
  display: flex;
  align-items: center;
}

.topbar__searchContainer {
  position: relative;
  margin: 0 auto;
  width: 300px;
}

.topbar__searchIcon {
  position: absolute;
  height: 100%;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  /* border: 1px solid #353535; */

}

.topbar__search {
  width: 100%;
  padding: .5rem 2.2rem; /* Adding padding to the left to make space for the icon */
  border-radius: 20px;
  border: 1px solid #353535;
  background-color: #0F0E0E;
  font-size: 16px;
  color: #fff;
}

.topbar__clearIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #fff;
  background-color: #3e3e3e;
  border-radius: 50%;
  padding: .2rem .2rem;
}

.topbar__search::placeholder {
  color: #fff;
  font-size: 16px;
}

.topbar__search:focus {
  outline: none;
  border-color: #fff;
}

.menuIcon{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px){
  .topbar{
    display: flex;
  }
}