/* Home.css */
* {
    color: #fff;
}

h1 {
    font-size: 4rem;
    margin: 1rem 0rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-template-rows: 550px auto;
    gap: 1rem;
    margin: 1rem 0rem;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 0.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .block {
        padding: 0 1rem;
    }

    .item {
        height: 60px;
        width: 60px;
    }

    .item div {
        height: 50px;
        width: 50px;
    }

    h2 {
        font-size: 2rem;
    }
}

.block {
    border-radius: 1rem;
    background-color: #141414;
    padding: 0 1rem;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 0rem;
}

.item {
    height: 80px;
    width: 80px;
    background-color: #0F0F0F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0rem 0rem .5rem 0rem;
}

.item div {
    height: 70px;
    width: 70px;
    background-color: #1E1E1E;
    border-radius: 50%;
}

.item-desc p {
    /* font-size: 1.3rem; */
    font-weight: 800;
}

.items-container {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.items-container-random {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 1rem 1rem;
}

.items-container-random .item-container {
    display: flex;
}

.item-container {
    height: 80px;
    margin: .5rem 0rem;
    background-color: #1E1E1E;
}

.border-gradient {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #00b4db, #0083b0) 1;
}

.border-top-gainers {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #8e2de2, #4a00e0) 1;
}

.border-top-losers {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #ff416c, #ff4b2b) 1;
}

.border-top-wins {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #11998e, #38ef7d) 1;
}
