* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}

.headerTextContainer{
 
  padding: 3rem 0rem;
  color: #fff;

}
.headerTextContainer h1{
  font-size: 2rem;
}

.headerTextContainer h2{
  font-size: 3rem;
}

.gridContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
  grid-template-rows: auto; /* Automatically adjust the row height */
  gap: 2rem;
  grid-template-areas: 
    "col1 col1"
    "col2 col3"; 
}
.col1 {
  grid-area: col1;
  background-color: #f7c846;
  height: 500px;
  border-radius: 1rem;
}

.col2 {
  grid-area: col2;
  background-color: #343434;
  height: 250px;
  
  color: #fff;
  border-radius: 1rem;
}

.col3 {
  grid-area: col3;
  background-color: #343434;
  height: 250px;
  color: #fff;
  border-radius: 1rem;
}

.columnWrapper{
  padding: 0rem 2rem;
  height: 100%;
  
}