.modalOverlay {
  border-radius: 0.5rem;
  color: #fff;
  font-size: 0.8rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  transition: background-color 0.5s ease; /* Smooth transition for background color */
}

.modalContent {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  position: relative;
  font-weight: 500;
}

.modalClose {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

