

  .cryptosHeader{
    color: #fff;
    padding: 2rem 0rem;
    font-size: 4rem;
    text-shadow: 1px 1px 1px #131313;
    /* text-align: center; */
    text-transform: uppercase;
  }


.cryptosMain{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 2rem;
}
.cryptosBlock{
    width: 100%;
}
.sectionControls{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 5rem;
}
.sectionControls button{
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: #f7c846;
    border: 1px solid #545454;
    color: #131313;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}

.sectionControls button:hover{
    background-color: #3d3316;
    color: #fff;
    border: 1px solid #fff;
}
.searchContainer input{

    height: 2rem;
    border-radius: 1rem;
    border: 1px solid #545454;
    background-color: inherit;
    outline: none;
    color: #fff;
    font-weight: 800;
    text-align: center;
}
.searchContainer input::placeholder{
    color: #fff;
    font-weight: 800;
    text-align: center;
}
.cryptosItems{
    height: 550px;
    width: 100%;
    overflow: scroll;
}
.searchContainer {
    position: relative;
   

  }
  
  .searchIcon {
    position: absolute;
    height: 100%;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none; /* Prevents the icon from interfering with input interactions */
  }
  
  .searchInput {
    width: 100%;
    padding: 0.5rem 2.2rem; /* Space for the icon */
    margin-top: 1rem;
    border: 1px solid #353535;
    background-color: #0F0E0E;
    font-size: 16px;
    color: #fff;
    box-sizing: border-box; /* Ensures padding doesn't increase the element's width */
  }


 
  
  .clearIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    background-color: #3e3e3e;
    border-radius: 50%;
    padding: 0.2rem;
    font-size: 1rem; /* Adjust size if necessary */
  }
  
  .searchContainer input::placeholder:focus{
    color: inherit;
   
}

@media screen and (max-width: 768px) {

  
  .cryptosHeader{
    font-size: 2rem;
  }
  .sectionControls button{
    width: 5rem;
    height: 2rem;
  }
}