/* Sidebar.module.css */

.sidebar {
    position: fixed;
    left: -250px; /* Hide the sidebar */
    width: 125px;
    height: 100vh;
    top: 55px;
    background-color: #171717;
    transition: left 0.3s ease;
    z-index: 1000;
    padding: 1rem;
    border-right:1px solid #141317;

  }
  
  nav {
    height: 90%;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
  }
  
  .sidebar.open {
    left: 0; /* Slide in the sidebar */
  }
  
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  .navLink {
    padding: 0.5rem 0rem;
    border-radius: .2rem;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: .8rem;
    gap: .5rem;
    font-weight: 500;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  /* New CSS rule for active state of icon */
  .navLinkIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease;
}

.navLink.active .navLinkIcon {
      transition: 0.2s ease;
    background-color: inherit;
    /* border: 1px solid #fff; */
    color: #5a31b1;
  }

  .navLinkIcon:hover, .navLink:hover{
    color: #5a31b1;

  }
  
  .signOut {
      background-color: #82142e;
      color: #fff;
    border: none;
    /* padding: 1rem; */
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .5rem 0rem;
    border-radius: .2rem;
    font-size: .8rem;
    font-weight: 500;
    gap: .3rem;
    font-family: "Inter", sans-serif;
    

  }
  .signOutContainer{
    
  }
  
 
  
  
  .topbar__clearIcon {
    width: 100%;
    cursor: pointer;
    color: #fff;
    background-color: #3e3e3e;
    border-radius: 50%;
    padding: .2rem .2rem;
    border: 2px solid #fff;
  }
  