/* Sidebar.module.css */

.sidebar {
    position: fixed;
    left: -250px; /* Hide the sidebar */
    width: 125px;
    height: 100vh;
    background-color: #4F4557;
    transition: left 0.3s ease;
    z-index: 1000;
    padding: 1rem;
  }
  
  nav {
    height: 90%;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
  }
  
  .sidebar.open {
    left: 0; /* Slide in the sidebar */
  }
  
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  .navLink {
    padding: 0.5rem 0rem;
    border-radius: .2rem;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: .8rem;
    gap: .5rem;
    font-weight: 500;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  /* New CSS rule for active state of icon */
  .navLinkIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .navLink.active .navLinkIcon {
    background-color: #352e3bc7;
    border: 3px solid #fff;
  }
  
  .signOut {
    background-color: #82142e;
    color: #fff;
    border: none;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }
  
  .signOut span {
    margin-left: 0.5rem;
  }
  
  .topbar__clearIcon {
    cursor: pointer;
    color: #fff;
    background-color: #3e3e3e;
    border-radius: 50%;
    padding: .2rem .2rem;
  }
  