/* Sidebar styles */
.sidebar-container {
  background-color: #4F4557; /* Soft pink background */
  max-width: 300px;
  min-width: 300px;
  min-height: 100vh;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  z-index: 100000;
}

.menu{
  /* border: 5px solid #fff; */
  font-size: 2rem;
  border-radius: 50%;
  /* padding: 1rem 0rem; */
}

.sidebar-container.collapsed {
  max-width: 100px;
  min-width: 100px;
  z-index: 100000;
}

.logo{
  font-size: 3rem;
  padding: 0rem 1rem;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}

.icon {
  border: 1px solid #ADE8F4; /* Soft purple border */
  cursor: pointer;
}

.profile-container {
  min-height: 150px;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  justify-content: center;
}

.cancel-icon {
  cursor: pointer;
}

button {
  outline: none;
  border: none;
}



nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

nav ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  /* width: 100%; */
  height: 50vh;
}

li.active {
  border-bottom: 5px solid #fff; /* Pastel purple border for active */
  transition: 0.1s all;
}

li {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;

  padding: .4rem 1rem;
  color: #fff; /* Dark text color */
  background-color: #6D5D6E;
  cursor: pointer;
  transition: all 0.1s all;
}

.navLink{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  /* justify-content: center; */
  justify-content: space-between;
  color: #fff;
}

.sidebar-container.collapsed .navLink {
  justify-content: center; /* Centered when collapsed */
}

li:hover {
  background-color: #5a4c5b;
  transition: 0.3s ease all;
}

.sidebar-container.collapsed li span {
  display: none;
}

.sign-out {
  margin: 2rem 0rem;
  height: 2.5rem;
  width: 100%;
  /* font-weight: 900; */
  outline: none;
  background-color: #82142e; /* Bright pink background */
  color: #141414; /* Dark text color */
  text-transform: uppercase;
  /* font-size: .8rem; */
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.logout-icon{
  color: #fff;
}


a {
  text-decoration: none;
  list-style: none;

}

/* Media query for mobile view */
@media (max-width: 768px) {

  .sidebar-container {
    position: absolute;
    /* background-color: #0077B6;  */
    max-width: 100px;
    min-width: 100px;
  }
  

  .sidebar-container.collapsed {
    background-color: inherit;
  }

  .logo{
    /* display: none; */
    padding: 0rem 0rem;
  }

  li span {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav.collapsed {
    display: none;
  }

  .sign-out-container.collapsed {
    display: none;
  }

  .sign-out-container {
    display: flex;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 1rem 0rem; */
    padding: 0.5rem .5rem;
    border-radius: .5rem;
    /* gap: 1rem; */
    /* width: 0%; */

  }
  
}
