.auth-form {
    margin: 0 auto;
    width: 300px; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  

  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #F4EEE0; 
  }
  
  .auth-form input,
  .auth-form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #6D5D6E;
    border-radius: 4px;
  }
  
  .auth-form button {
    background-color: #6D5D6E;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .auth-form button:hover {
    background-color: #4e424f;
  }

  .register{
    margin: .5rem 0rem;
  }
  .login-question{
    margin: .5rem 0rem;
    font-size: .7rem;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  