.legend {
    display: flex;
    justify-content: space-between;
    
    font-weight: bold;
    background-color: #171717;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border: 1px solid #444444;
    padding: 1rem 0rem;


  }
  
  .legendItem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #0F0E0E;
    border: 1px solid #444444;
    color: #ffffff;
    width: 7rem;
    height: 2rem;
    margin: 0rem 1rem;
    border-radius: 2rem;

    font-size: .8rem; 
  }
  
  .legendItem:first-child{
  }
  @media (max-width: 800px){
.legend{
  display: none;
}
  }