

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-main: #023e8a;
  --bg-blocks: #0077b6;
  --bg-second-blocks: #0096c7;
  --bg-block-item: #00b4d8;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  background-color: #131112;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* For mobile view: hide sidebar and show topbar */
@media (max-width: 768px) {
  .sidebar {
    display: none; /* Hide sidebar on mobile */
  }
}

.mainContentWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  width: 100%;
  height: 100vh;
  max-width: 1480px;
  margin-inline: auto;
}

/* Ensure the topbar is always visible on mobile */
@media (max-width: 768px) {
  .topbar {
    display: flex;
    /* Additional styles for topbar on mobile */
  }
}

/* Additional mobile styles */
@media (min-width: 769px) {
  .topbar {
    display: none; /* Hide topbar on larger screens if necessary */
  }
}
