* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-main: #023E8A;
  --bg-blocks: #0077B6;
  --bg-second-blocks:#0096C7;
  --bg-block-item:#00B4D8;

}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #393646; /* Light pastel background for body */
}

html {
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

li {
  list-style: none;
}

.flex {
  /* display: flex; */
}

