.crypto {
  display: flex;
  align-items: center;
  background-color: #fff; /* Light blue background */
  padding: 0.5rem 0.5rem; 
  border-radius: 1rem; /* Adjusted for better look on smaller screens */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Softer shadow */
  margin: 0.5rem 0; /* Margin to separate items */
  overflow: hidden; /* Ensure no content overflows */
  flex-wrap: wrap; /* Allow wrapping of content */
}

.crypto__rank {
  /* width: 30px; Adjusted width for very small screens */
  padding: 0rem 1rem;
  font-size: 0.8rem; /* Reduced font size for very small screens */
  text-align: left;
  color: #141414; /* Dark text color for contrast */
}

.crypto__image {
  width: 30px; /* Adjusted width for very small screens */
  display: flex;
  justify-content: center;
  align-items: center;
}

.crypto__heading{
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}



.crypto__image img {
  width: 20px; /* Adjusted size for very small screens */
  height: 20px; /* Adjusted size for very small screens */
  border-radius: 50%;
}

.crypto__info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 0.5rem; /* Adjusted padding for very small screens */
  overflow: hidden; /* Prevent overflow */
  text-overflow: ellipsis; /* Handle overflowing text */
}

.crypto__symbol {
  font-size: 0.9rem; /* Adjusted font size for very small screens */
  font-weight: bold;
  width: 60px; /* Adjusted width for very small screens */
  text-align: left;
  color: #141414; /* Dark text color */
}

.crypto__price {
  font-size: 0.8rem; /* Adjusted font size for very small screens */
  color: #000; /* Bright pink for price */
  width: 60px; /* Adjusted width for very small screens */
}

.crypto__change {
  width: 40px; /* Adjusted width for very small screens */
  font-size: 0.8rem; /* Adjusted font size for very small screens */
  text-align: right;
  white-space: nowrap; /* Prevent text wrapping */
}

.crypto__change--positive {
  color: #1cb121; 
  font-weight: 800;
}

.crypto__change--negative {
  color: #f44336; 
  font-weight: 800;
}

.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
}

.favorite-button svg {
  font-size: 18px; /* Adjusted size for very small screens */
  color: orange; 
}

.favorite-button:hover svg {
  color: yellow; 
}

@media (max-width: 800px) {
  .crypto__rank {
    /* width: 0px; Adjusted width for smaller screens */
    font-size: 0.8rem; /* Adjusted font size for smaller screens */
  }

  .crypto__image img {
    width: 20px; /* Adjusted size for smaller screens */
    height: 20px; /* Adjusted size for smaller screens */
  }

  .crypto__symbol {
    font-size: 0.9rem; /* Adjusted font size for smaller screens */
  }

  .crypto__price {
    font-size: 0.8rem; /* Adjusted font size for smaller screens */
  }

  .crypto__change {
    font-size: 0.8rem; /* Adjusted font size for smaller screens */
  }

  .favorite-button svg {
    font-size: 16px; /* Further reduced size for very small screens */
  }

  .crypto__heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
