.crypto {
 
  overflow: hidden;
  width: 100%;
  font-size: .9rem;
  color: #fff;
  cursor: pointer;

}

.cryptoHeader:hover{
  background-color: #1d1d1d;
  transition: 0.1s ease;
}

.cryptoHeader {
  transition: 0.1s ease;
  display: flex;
  justify-content: space-between;
  background-color: #0F0E0E;
  height: 5rem;
  padding: 0rem 1rem;
  border: 1px solid #444444;

  border-radius: 1rem;
  width: 100%;
}

.crypto__text {
  font-weight: 500;
  color: #fff;
  width: 7rem;
  text-shadow: 1px 1px 1px #131313;

  display: flex;
  align-items: center;
  font-size: 1rem;
}

.cryptoContent {
  /* background-color: #171717; */
  display: flex;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  /* padding: 0.5rem; */
  width: 100%;
  margin: .8rem 0rem;
  
}

.crypto__rank__container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-items: center; */
  /* gap: 0.5rem; */
  width: 7rem;
  text-shadow: 1px 1px 1px #131313;

  
}

.crypto__rank {
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 1px 1px 1px #131313;

}

.crypto__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  text-shadow: 1px 1px 1px #131313;

}

.crypto__image img {
  width: 30px; /* Increased size for better visibility */
  height: 30px;
  border-radius: 50%;
  border: 1px solid;
  
}

.crypto__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 1rem; */
}

.crypto__price {
  color: #fff;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-width: 10rem; */
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #131313;

}

.crypto__change {
  white-space: nowrap;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
}

.crypto__change__positive {
  color: #8bdd2c; 
  text-shadow: 1px 1px 1px #131313;

}

.crypto__change__negative {
  color: #e61a0c; 
  text-shadow: 1px 1px 1px #131313;

}

.favoriteButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  text-shadow: 1px 1px 1px #131313;


}

.favoriteButton {
  background: none;
  border: none;
  cursor: pointer;
}

.favoriteButton svg {
  font-size: 25px;
  color: rgb(59, 59, 59); 
}

@media (max-width: 800px) {
  .crypto {
    font-size: 0.8rem; /* Adjust for smaller screens */
  }

  .crypto__image img {
    width: 25px; /* Adjust size for smaller screens */
    height: 25px;
  }

  .favoriteButton svg {
    font-size: 20px;
  }
  .cryptoHeader{
    margin: 0rem 0rem;
  }
}
