.item-container{
    /* min-height: 200px;  */
    /* max-height: 200px;  */
    /* max-width: 200px; */
    display: flex;
    width: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
}

.item-desc{
    /* min-height: 100px;  */
    /* max-height: 100px;  */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100px;
    min-width: 100px;
    height: 80px;
}
p{
    width: 100%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}