.crypto {
  display: flex;
  align-items: center;
  background-color: #F4EEE0;
  padding: 0.4rem 1rem; 
  border-radius: .3rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin: 0.5rem 0;
  overflow: hidden;
  flex-wrap: wrap;
  width: 100%;
  font-size: 0.8rem;
  transition: background-color 0.5s ease;
}

.crypto__rank {
  width: 10%;
  font-size: 0.8rem;
  font-weight: 800;
  text-align: left;
  color: #141414;
}

.crypto__image {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crypto__heading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.crypto__image img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.crypto__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  text-overflow: ellipsis;
}

.crypto__symbol {
  font-weight: bold;
  color: #141414;
}

.crypto__price {
  color: #000;
}

.crypto__change {
  white-space: nowrap;
}

.crypto__change--positive {
  color: #1cb121; 
  font-weight: 800;
}

.crypto__change--negative {
  color: #e61a0c; 
  font-weight: 800;
}
.favorite-button.is-not-favorite {
  background-color: red;
}

.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 15%;
}

.favorite-button svg {
  font-size: 18px;
  border-radius: 50%;
  color: rgb(6, 6, 6); 
}



@media (max-width: 800px) {
  .crypto {
    font-size: 0.5rem;
  }
 
  .crypto__image img {
    width: 20px;
    height: 20px;
  }

  .favorite-button svg {
    font-size: 16px;
  }

  .crypto__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
