.crypto {
  background-color: #171717;
  overflow: hidden;
  width: 100%;
  font-size: 0.9rem; /* Match Legend font size */
  transition: background-color 0.5s ease;
  color: #fff;
  cursor: pointer;
}

.cryptoHeader {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #171717;
  border-bottom: 1px solid #747474;
  width: 100%;
}

.crypto__text {
  font-weight: 500;
  color: #fff;
  font-size: 1rem; /* Consistent with Legend header */
}

.cryptoContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
}

.crypto__rank__container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.5rem;
  width: 5rem;

  
}

.crypto__rank {
  font-size: 0.9rem; /* Match Legend font size */
  color: #fff;
  
}

.crypto__image {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 5rem;

}

.crypto__image img {
  width: 30px; /* Increased size for better visibility */
  height: 30px;
  border-radius: 50%;
}

.crypto__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 1rem; */
}

.crypto__price {
  color: #fff;
  width: 5rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* min-width: 10rem; */
  font-size: 0.9rem; /* Match Legend font size */
}

.crypto__change {
  white-space: nowrap;
  width: 5rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;

  font-size: 0.9rem; /* Match Legend font size */
}

.crypto__change__positive {
  color: #7dac48; 
}

.crypto__change__negative {
  color: #e61a0c; 
}

.favoriteButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;

}

.favoriteButton {
  background: none;
  border: none;
}

.favoriteButton svg {
  font-size: 25px;
  color: rgb(59, 59, 59); 
}

@media (max-width: 800px) {
  .crypto {
    font-size: 0.8rem; /* Adjust for smaller screens */
  }

  .crypto__image img {
    width: 25px; /* Adjust size for smaller screens */
    height: 25px;
  }

  .favoriteButton svg {
    font-size: 20px;
  }
}
